In [18]:
import pandas as pd
import numpy as np

df = pd.read_csv('../tiktok_comments_final.csv')
df.head()

                                                text  createTime
0                                            gibran:  1764933105
1  ini emg harusnya ganti rakyat sih. bgnian emg ...  1764928295
2             wapres aja gak pakek rompi anti peluru  1764922201
3      di indo doang presiden n wapres di hujat wkwk  1764925978
4  di X parah bett anjir komenannya, merinding la...  1764922173

In [19]:
# # Ambil 1000 baris secara acak
# sample_df = df.sample(n=1000, random_state=42)

# sample_df.to_csv('unlabeled_data.csv', index=False)

# print(f"{len(sample_df)} rows saved to unlabeled_data.csv")

In [22]:
df = pd.read_json("labeled_data.json")
df = df.replace(r'^\s*$', np.nan, regex=True).dropna(subset=["text", "createTime", "sentiment"])
df = df.drop_duplicates(subset=["text", "createTime", "sentiment"])
df[["text", "createTime", "sentiment"]].to_csv("../pre-trained-data.csv", index=False)
df

,text,createTime,id,sentiment,annotator,annotation_id,created_at,updated_at,lead_time
0,PRABOWO MNA,1765065351,162003,1,2,410,2025-12-10 14:50:07.621085+00:00,2025-12-10 14:50:07.621085+00:00,4.278
1,Tipe orang2 yg berpikir kritis dan teliti itu ...,1765084737,162004,2,2,411,2025-12-10 14:50:56.181708+00:00,2025-12-10 14:50:56.181708+00:00,43.173
2,semenakjubkan itukah? padahal memang inilah ke...,1764983134,162005,1,2,412,2025-12-10 14:51:29.918362+00:00,2025-12-10 14:51:29.918362+00:00,6.360
3,Mas gibran sehat terus yaaa üëç semangat mendeng...,1764975902,162006,2,2,413,2025-12-10 14:51:38.471440+00:00,2025-12-10 14:51:38.471440+00:00,4.981
4,"Nih wapres udah turun ke warga, masa masih di ...",1764989158,162007,1,2,414,2025-12-10 14:52:06.066685+00:00,2025-12-10 14:52:06.066685+00:00,6.460
...,...,...,...,...,...,...,...,...,...
996,Verrel : Lah kok ga pake rompi sihh,1765006731,162998,1,1,1391,2025-12-11 00:07:13.214299+00:00,2025-12-11 00:07:13.214299+00:00,3.478
997,lah mana rompi anti peluru nya ü§£,1765098858,162999,1,1,1390,2025-12-11 00:07:08.680402+00:00,2025-12-11 00:07:08.680402+00:00,1.657
998,"KERJA DIBILANG PENCITRAAN, GAK KERJA DIBILANG ...",1764943799,163000,2,1,1389,2025-12-11 00:07:05.726113+00:00,2025-12-11 00:07:05.726113+00:00,6.822
999,"sehat 2 pak wapres,,aku padamu",1764984146,163001,2,1,1388,2025-12-11 00:06:57.836966+00:00,2025-12-11 00:06:57.836966+00:00,1.630
1000,‚ù§Ô∏è,1765007330,163002,2,1,1387,2025-12-11 00:06:54.395353+00:00,2025-12-11 00:06:54.395353+00:00,1.999